# Ignore bundler config
/.bundle

# Ignore local bundle
/vendor/bundle

# Ignore the bundler binstubs
/bin

# Ignore the build directory
/build

# Ignore cache
/.sass-cache
/.cache

# Log files
*.log

# Ignore .DS_store file
.DS_Store

# Ignore environment specific configuration		+.DS_Store
/.env
/.env.*

# Ignore Capistrano files
/REVISION
/config/deployed.yml
