---
title: Home
disable_breadcrumbs: true
disable_in_breadcrumbs_trail: true
---

<!-- begin #content -->
<div id="content" class="content text-center">
  <img src="assets/images/fedapi_logo_black_416x416.png"  height="150"/>
  <!-- begin page-header -->
  <h1 class="">Welcome to FedAPI Developer Site!</h1>
  <!-- end page-header -->
  <h5>
    FedAPI empowers your developers and descision makers to use data you already have but aren't able to easily get to today.
  </h5>
  <hr >
  <div class="row text-center">
    <div class="col-md-6 ">
      <div class="note note-default ">
        <span class="fa fa-file fa-3x"></span>
        <h4><a href="/docs">API Documentation</a></h4>
        <p>Explore the docs and for FedAPI</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="note note-default">
        <span class="fa fa-lock fa-3x"></span>
        <h4><a href="/signup">API Key</a></h4>
        <p>Sign up to generate your API key</p>
      </div>
    </div>
  </div>
</div>
<!-- end #content -->
